{% extends 'base.html' %}

{% block content %}
<h2>History Report</h2>
<form action ="{{ url_for('auditlogreport') }}" method="POST">
    <div style="font-size:18px; display: flex; gap: 20px;">

        <!--Type-->
        <label for="search_type">Type:</label>
        <select id="search_type" name="search_type"  required>
            <option value="insert" {% if search_type == 'insert' %}selected{% endif %} >Insert</option>
            <option value="update" {% if search_type == 'update' %}selected{% endif %} >Update</option>
            <option value="delete" {% if search_type == 'delete' %}selected{% endif %} >Delete</option>
        </select>

        <!--Duration-->
        <label for="search_duration">Duration:</label>
        <select id="search_duration" name="search_duration"  required>
            <option value="all" {% if search_duration == 'all' %}selected{% endif %} >All</option>
            <option value="weekly" {% if search_duration == 'weekly' %}selected{% endif %} >This Week</option>
            <option value="monthly" {% if search_duration == 'monthly' %}selected{% endif %} >This Month</option>
            <option value="annually" {% if search_duration == 'annually' %}selected{% endif %} >This Year</option>
        </select>

        <!--Start Date-->
        <label for="search_start">Start Date:</label>
        <input type="date" id="search_start" name="search_start" placeholder="Enter Start Date" value="{{ search_start if search_start else '' }}">

        <!--End Date-->
        <label for="search_end">End Date:</label>
        <input type="date" id="search_end" name="search_end" placeholder="Enter End Date" value="{{ search_end if search_end else '' }}">

        <!--Submit-->
        <input type="submit" value="Search">
    </div>
</form>
<!--table>
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>User</th>
        <th>Date</th>
        <th>Function</th>
        <th>Table</th>
        <th>SQL</th>
        <th>Record</th>
    </tr>
    {% for expense in auditlogs %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ expense.type }}</td>
        <td>{{ expense.username }}</td>
        <td>{{ expense.insert_date }}</td>
        <td>{{ expense.function_name }}</td>
        <td>{{ expense.table_name }}</td>
        <td>{{ expense.sql_statement }}</td>
        <td>{{ expense.record }}</td>
    </tr>
    {% endfor %}
</table-->

<!-- INSERT OR DELETE TABLE BEGIN-->
{% if search_type == 'update' %}
<table>
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>User</th>
        <th>Insert Date</th>
        <th>Updated Columns</th>
    </tr>
    {% for expense in auditlogs %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ expense.Type }}</td>
        <td>{{ expense.User }}</td>
        <td>{{ expense.Insert_Date }}</td>
        <td>{{ expense.Updated_Column }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
<!-- INSERT OR DELETE  TABLE END-->

<!-- UPDATE TABLE BEGIN-->
{% if search_type == 'insert' or search_type == 'delete' %}
<table>
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>User</th>
        <th>Insert Date</th>
        <th>Expense Date</th>
        <th>Category</th>
        <th>Vendor</th>
        <th>Description</th>
        <th>Currency</th>
        <th>Amount</th>
    </tr>
    {% for expense in auditlogs %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ expense.Type }}</td>
        <td>{{ expense.User }}</td>
        <td>{{ expense.Insert_Date }}</td>
        <td>{{ expense.Expense_Date }}</td>  <!-- Expense date -->
        <td>{{ expense.Category }}</td>  <!-- Category -->
        <td>{{ expense.Vendor }}</td>  <!-- Vendor -->
        <td>{{ expense.Description }}</td>  <!-- Description -->
        <td>{{ expense.Currency }}</td>  <!-- Currency -->
        <td>{{ expense.Amount }}</td>  <!-- Amount -->
    </tr>
    {% endfor %}
</table>
{% endif %}
<!-- UPDATE TABLE END-->


{% endblock %}