{% extends 'base.html' %}

{% block content %}
<h2>Audit Log Report</h2>
<form action ="{{ url_for('auditlogreport') }}" method="POST">
    <div style="font-size:18px; display: flex; gap: 20px;">
        <!--Type-->
        <label for="search_type">Type:</label>
        <select id="search_type" name="search_type"  required>
            <option value="all" {% if search_type == 'all' %}selected{% endif %} >All</option>
            <option value="weekly" {% if search_type == 'weekly' %}selected{% endif %} >Weekly</option>
            <option value="monthly" {% if search_type == 'monthly' %}selected{% endif %} >Monthly</option>
            <option value="annually" {% if search_type == 'annually' %}selected{% endif %} >Annually</option>
        </select>

        <!--Start Date-->
        <label for="search_start">Start Date:</label>
        <input type="date" id="search_start" name="search_start" placeholder="Enter Start Date" value="{{ search_start if search_start else '' }}">

        <!--End Date-->
        <label for="search_end">End Date:</label>
        <input type="date" id="search_end" name="search_end" placeholder="Enter End Date" value="{{ search_end if search_end else '' }}">

        <!--Submit-->
        <input type="submit" value="Search">
    </div>
</form>
<table>
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>User</th>
        <th>Date</th>
        <th>Function</th>
        <th>Table</th>
        <th>SQL</th>
        <th>Record</th>
    </tr>
    {% for expense in auditlogs %}
    <tr>
        <td>{{ expense.id }}</td>
        <td>{{ expense.type }}</td>
        <td>{{ expense.user }}</td>
        <td>{{ expense.insert_date }}</td>
        <td>{{ expense.function_name }}</td>
        <td>{{ expense.table_name }}</td>
        <td>{{ expense.sql_statement }}</td>
        <td>{{ expense.record }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}