{% extends 'base.html' %}

{% block content %}
<!--<h2>{{ title }}</h2>-->

<!-- Horizontal Menu -->
{% if title != 'Edit Expense' and title != 'Delete Expense' %}
<div class="horizontal_menu">
    <a href="{{ url_for('add_expense') }}" class="{% if title == 'Add Expense' %}active{% endif %}">Add Expense</a>
    <a href="{{ url_for('upload_file') }}"  class="{% if title == 'Receipt Expense' %}active{% endif %}">Scan Receipts</a>
    <a href="{{ url_for('upload_bank_statement') }}"  class="{% if title == 'Bank Statement Expense' %}active{% endif %}">Scan Bank Statement</a>
</div>
{% endif %}


<div class="expense">
    <form action="{% if title == 'Add Expense' %}
    {{ url_for('add_expense') }}
    {% elif title == 'Edit Expense' %}
    {{ url_for('edit_expense', expense_id=expense.id) }}
    {% elif title == 'Delete Expense' %}
    {{ url_for('delete_expense', expense_id=expense.id) }}
    {% elif title == 'Receipt Expense' %}
    {{ url_for('submit_expense') }}
    {% elif title == 'Bank Statement Expense' %}
    {{ url_for('upload_bank_statement') }}
    {% else %}
    {{ url_for('add_expense') }}
    {% endif %}" method="POST">
        <!-- Vendor Input -->
        <label for="vendor">Vendor:</label>
        <input type="text" id="vendor" name="vendor" placeholder="Enter Vendor" value="{{ expense.vendor if expense and expense.vendor else '' }}" {% if title == 'Delete Expense' %}disabled{% endif %} required ><br><br>

        <!-- Category Input -->
        <label for="category">Category:</label>
        <!--input type="text" id="category" name="category" placeholder="Enter Category" value="{{ expense.category_id if expense and expense.category_id else '' }}" {% if title == 'Delete Expense' %}disabled{% endif %} required><br><br-->
        <!-- Dropdown Category -->
        <select id="category" name="category" {% if title == 'Delete Expense' %}disabled{% endif %} required>
            {% for category in categories %}
            <option value="{{category.id}}" {% if expense and expense.category_id == category.id %} selected {% endif %} >{{category.category}}</option>
            {% endfor %}
        </select><br><br>

        <!-- Description I  nput -->
        <label for="description" style="display: block; margin-bottom: 5px;">Description:</label>
        <textarea id="description" name="description" placeholder="Enter Description"  {% if title == 'Delete Expense' %}disabled{% endif %} required style="height: 100px; width: 400px;" >{{ expense.description if expense and expense.description else '' }}</textarea><br><br>

        <!-- Amount Input -->
        <label for="amount">Amount:</label>
        <!-- Dropdown currency -->
        <select id="currency" name="currency" {% if title == 'Delete Expense' %}disabled{% endif %} required>
            {% for currency in currencies %}
            <option value="{{currency.id}}">{{currency.code}}</option>
            {% endfor %}
        </select>
        <!-- Amount numeric -->
        <input type="number" id="amount" name="amount" step="0.01"  placeholder="Enter Amount" value="{{ expense.amount if expense and expense.amount else '' }}" {% if title == 'Delete Expense' %}disabled{% endif %} required><br><br>

        <!-- Expense Date -->
        <label for="expense_date">Date:</label>
        <input type="date" id="expense_date" name="expense_date" value="{{ expense.date if expense and expense.date else '' }}" {% if title == 'Delete Expense' %}disabled{% endif %} required><br><br>

        <div class="button-container">
            <!-- Submit Button -->
            {% if title != 'Receipt Expense' %}
             <input type="submit" value="{{ title }}">
            {% else %}
            <input type="submit" value="OK">
            {% endif %}

            {% if title == 'Edit Expense' or title == 'Delete Expense' %}
            <!-- Back Button -->
            <a href="{{ url_for('report') }}" class="back-button">Back</a>
            {% elif title == 'Receipt Expense' %}
            <a href="{{ url_for('upload_file') }}" class="back-button">Back </a>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}